* {
    outline: none;
}

body {
    background: #fff;
    font-family: "segoe ui", arial;
    font-size: 14px;
	margin: 0px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cl {
    clear: both;
}

.page-container {
    padding: 20px 30px;
}

.panel-heading {
    font-weight: bold;
    font-size: 30px;
    color: #ff9800;
}

.panel-form {
    padding: 10px;
    background: #f5f5f5;
    margin: 10px 0px;
    border: 1px #e8e8e8 solid;
}

.row .col {
    display: inline-block;
    width: 300px;
}

.row:first-child .col {
    font-weight: bold;
    margin-bottom: 5px;
}

.txt {
    width: 95%;
    padding: 5px;
    border: 1px #dedede solid;
}

form {
    margin: 0px;
}

input[type="submit"] {
    padding: 8px 10px;
    margin-top: 10px;
    background: #ffc107;
    border: none;
    cursor: pointer;
}

.book-list {
    width: 70%;
}

.book-list ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.trans {
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
}

.book-list ul li {
    border-bottom: 1px #ddd dotted;
    padding: 10px 0px;
    cursor: pointer;
}

.book-title:before {
    content : '\f02d';
    font-family: 'fontawesome';
    left: -10px;
    position: relative;
    color: #666;
}

.book-description {
    display: none;
    padding: 10px;
    background: #fff;
    border: 1px #efefef solid;
    margin: 10px;
}

.book-info {
    font-size: 12px;
    margin-bottom: 3px;
    color: #666;
    font-weight: normal;
}

.book-info span {
    color: #000;
    font-weight: 600;
}

.book-detailed-description {
    font-size: 12px;
    margin-top: 10px;
    text-align: justify;
}

.book-title {
    font-weight: 600;
    padding-left: 10px;
}

.ratings {
    font-size: 12px;
    font-weight: normal;
    color: #555;
}

.ratings:before {
    content: ' [ ';
}
.ratings:after {
    content: ' ] ';
}

.bookAuthors {
    padding-left: 20px;
    color: #666;
    font-size: 12px;
}

.bookAuthors span {
    color: #000;
}

.bookAuthors span:after {
    content: ', ';
}

.bookAuthors span:last-child:after {
    content: '';
}

.book-list ul li:hover {
    background: #f9f9f9;
    padding: 10px 10px;   
}

.book-list ul li:hover .book-title {
    color: #ff9800;
}

.book-title:hover {
    text-decoration: underline;
}

.book-title:hover .ratings {
    text-decoration: none!important;
}

.requets-info {
    width: 25%;
    border: 1px #ddd solid;
    padding: 10px;
    min-height: 300px;
}

.pagination {
    text-align: right;
}

.pagination span {
    display: inline-block;
    padding: 5px 10px;
    background: #efefef;
    margin:5px;
}

.pagination span:hover {
    background: #333;
    color: #fff;
    cursor: pointer;
}

.pagination span.activePage {
    background: #ff9800;
    color: #fff;
}

.info-label {
    font-size: 14px;
    color: #333;
}

.info-label span {
    display: block;
    color: #ff9800;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 14px;
}

.info-label span i{
    font-style: normal;
}

.info-label > i {
    font-size: 15px;
}

.loader {
	position: fixed;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	z-index: 9999;
	display: none;
}

.loader img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}