<html>
<head>
<title>
    Google Books Search Application
</title>
<script>var pageLoadStartTime = performance.now(); </script>
<!-- including files required for the application -->
<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="booksApp" ng-app="booksApp" ng-controller="booksController">
<div class="loader"><img src="images/loader.svg" /></div>
<!-- start of page-container -->
<div class="page-container">
    <!-- start of panel-heading -->
    <div class="panel-heading">
        Search for your favorite book information
    </div>
    <!-- end of panel-heading -->
    <!-- start of panel-body -->
    <div class="panel-body">
        <div class="panel-form">
            <!-- start of form -->
            <form name="books" class="booksForm">
                <div class="row">
                    <div class="col">Book Title</div>
                    <div class="col">Sory By</div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" name="bookTitle" ng-model="book.title" class="txt bookTitleTxt" placeholder="Search for the book" />
                    </div>
                    <div class="col">
                        <label><input type="radio" value="newest" ng-model="book.sortType" name="sortType" /> Newest</label>
                        <label><input type="radio" value="relevance" ng-model="book.sortType" name="sortType" /> Relevance</label>
                    </div>
                </div>
                <input type="submit" value="Get Books" ng-click="serverBooksData()" />
            </form>
            <!-- end of form -->
        </div>
            <!-- start of book list -->
        <div class="request-container">
            <div class="book-list fl">
                <div class="pagination">
                    <span class="trans" ng-class="{activePage: book.fromRecord == page.startRecord}" ng-repeat="page in book.pagination" ng-click="book.fromRecord = page.startRecord">
                        {{page.pageNumber}}
                    </span>
                </div>

                <ul>
                    <li class="trans" ng-repeat="book in bookList.items | limitTo:book.perPage:book.fromRecord">
                        <div><span class="book-title trans">{{::book.volumeInfo.title}}</span> <span class="ratings" ng-show="book.volumeInfo.ratingsCount">Ratings : {{::book.volumeInfo.ratingsCount}}</span></div>
                        <div class="bookAuthors">
                            Authors : <span ng-repeat="author in book.volumeInfo.authors">
                                {{::author}}
                            </span>
                        </div>

                        <div class="book-description">
                            <div class="book-info">Published Date: <span>{{::book.volumeInfo.publishedDate}}</span></div>
                            <div class="book-info">Published By: <span>{{::book.volumeInfo.publisher}}</span></div>
                            <div class="book-info">Pages: <span>{{::book.volumeInfo.pageCount}}</span></div>
                            <div class="book-detailed-description">
                                    {{::book.volumeInfo.description}}
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="pagination">
                    <span  class="trans" ng-class="{activePage: book.fromRecord == page.startRecord}" ng-repeat="page in book.pagination" ng-click="book.fromRecord = page.startRecord">
                        {{page.pageNumber}}
                    </span>
                </div>
            </div>
            <!-- end of book list -->

            <!-- start of statistics -->
            <div class="requets-info fr">
                    <div class="info-label">
                           <i class="fa fa-pencil"></i> Popular Author(s) : <span>{{maxAuthorList}}</span>
                        </div>
                <div class="info-label">
                    <i class="fa fa-clone"></i> Total Records : <span>{{book.totalCount}}</span>
                </div>
                <div class="info-label">
                        <i class="fa fa-database"></i> Server Response Time : <span>{{book.performanceTime}} Seconds</span>
                </div>
                <div class="info-label">
                        <i class="fa fa-flash"></i> Page Load Time : <span><i class="pageLoadTime"></i> Seconds</span>
                </div>
                
            </div>
            <div class="cl"></div>
            <!-- end of statistics -->
        </div>
    </div>
    <!-- end of panel-body -->
</div>
<!-- end of page-container -->
</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="script/app.js"></script>
<script src="script/fontawesome.js"></script>

</html>